{{> header}}

<div class="container h-100">
    <div class="h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-5">
                <h3>Upload a file</h3>
                <form method="POST" enctype="multipart/form-data" id="upload">
                    <div class="form-group">
                        <label class="control-label" for="upload">Upload File:</label>
                        <input type="file" class="form-control" id="file" placeholder="Upload File" name="file"></input>
                        <label class="control-label" for="user">User:</label>
                        <input type="text" class="form-control" id="user" placeholder="shared" name="user"></input>
                    </div>
                    <button type="submit" class="btn btn-default" id="btnSubmit">Upload</button>
                    <a href="/" class="btn btn-default" role="button">Files</a>
                </form>
            </div>
        </div>
    </div>
</div>


{{> footer}}